<nav>
    
       <button mat-button class="decoration" mat-list-item [routerLink]="['/dashboard/register']" routerLinkActive="router-link-active" >Registro</button>
       <button mat-button class="decoration" mat-list-item [routerLink]="['/dashboard/travels']" routerLinkActive="router-link-active" >Viajes</button>
        <button mat-button class="decoration" mat-list-item [routerLink]="['/dashboard/history']" routerLinkActive="router-link-active">Historial de Viajes</button>
        <button mat-button class="decoration" mat-list-item [routerLink]="['/dashboard/lists']" routerLinkActive="router-link-active">Lista de Viajes</button>
        
</nav> 
