nav{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}
nav a{
    list-style: none;
    
    
}
.decoration{
    text-decoration: none;
}