
<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="{{items}}" *ngFor="let items of displayedColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{items}} </th>
      <td mat-cell *matCellDef="let element"> {{element[items]}} 

        <mat-form-field class="form-field" appearance="fill" *ngIf="buttonEnable==items">
          <mat-label>{{nameSelect}}</mat-label>
          <mat-select  class="select" [(value)]="element.date" >
            <mat-option (click)="sendNewState(option.viewValue)" [value]=option.stateChange *ngFor="let option of states" >
             <span style="font-weight: bold;"> {{option.viewValue}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>  
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of data"></mat-paginator>
  
