form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form span{
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;

}
.text-observations{
    height: 5rem;
    max-height: 5rem;
}