main{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
main mat-form-field{
    background-color: white;
}
app-table{
    width: 60vw;
}
@media screen and (max-width: 800px) {

    app-table{
        width:90vw;
        height: 60%;
        margin-top: 5rem;
    }
    
}